<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A3AJAGBE LIBRARY</title>
</head>
<body>
<h1>A3AJAGBE LIBRARY</h1>

    {% if books == [] %}

        <h3>Libary Empty</h3>
    {% else %}
        {% for book in books %}
        <ul>
            <li><a href="{{ url_for('delete', book_id=book.id )}}">🗑</a> | {{book.title}} - {{book.author}} - {{book.rating}}/10 - <a href="{{ url_for('edit', book_id=book.id )}}">Edit Rating</a></li>
        </ul>

        {% endfor %}
    {% endif %}
<a href="{{ url_for('add')}}">Add New Book</a>
</body>
</html>